<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assingment 4</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1 style="background-color: skyblue">Hello world .....</h1>
    <form method="post">
        <label for="">number1</label>
        <input type="text" name="num1">
        <label for="">number2</label>
        <input type="text" name="num2">
        <button type="submit" formaction="/add">Add</button>
        <button type="submit" formaction="/sub">substract</button>
        <button type="submit" formaction="/multiply">multipication</button>
        <button type="submit" formaction="/divide">division</button>
    </form>
    
</body>
</html>